@import 'Variables';

.confirmDilogContainer{

    &.light{

        .confirmDilog{
            background-color: $main-body-background-color-light;
            color: $widget-body-font-color-light;
            border-top: $border-top-light;
    
            .dialogTitle{
                box-shadow: $widget-header-box-shadow-light;
            }
    
            .dialogBody{
                
                .input{
                    border: 1px solid $widget-body-font-color-light;
                    background-color: $widget-body-background-color-light;
                    color: $widget-body-font-color-light;
                }
    
            }
        
        }
    
        .confirmAction{
            background-color: $main-body-background-color-light;
            
            .YesButton{
                color: $button-font-color-light;
                border-color: $button-bg-color-light;
                background-color: $button-bg-color-light;
    
            }
    
        }

    }

    &.dark{

        .confirmDilog{
            background-color: $main-body-background-color-dark;
            color: $widget-body-font-color-dark;
            border-top: $border-top-dark;
    
            .dialogTitle{
                box-shadow: $widget-header-box-shadow-dark;
            }
    
            .dialogBody{
            
                .input{
                    border: 1px solid $widget-body-font-color-dark;
                    background-color: $widget-body-background-color-dark;
                    color: $widget-body-font-color-dark;
                }
    
            }
        
        }
    
        .dialogAction{
            background-color: $main-body-background-color-dark;
            
            .YesButton{
                color: $button-font-color-dark;
                border-color: $button-bg-color-dark;
                background-color: $button-bg-color-dark;
            }
    
        }

    }

    .confirmDilog{

        font-family: Raleway;
        //width: 50vw;
        //height: 50vh;

        .dialogTitle{
            padding: 8px;
            font-size: 14px;
            font-weight: 500;
        }

        .dialogBody{

            padding: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            //justify-content: center;
            // /width: 10px !important;
            //text-align: center;

            p{
                text-align: justify;
                margin-bottom: -5px;
            }

            .input{

                background-color: transparent;
                border-color: rgba(0, 0, 0, 0.067);
                font-size: 16px;
                font-weight: 400;
                font-family: Raleway;
                width: 98%;
                border-radius: 0px;
                height: 30px;
                padding: 0px 5px 0px 5px;
            }
           

        }
    
    }

    .dialogAction{
        
        .YesButton{
            font-size: 12px;
            padding: 0px 20px 0px 20px;

        }

        .NoButton{
            font-size: 12px;
            padding: 0px 20px 0px 20px;
            color: white;
            border-color: red;
            background-color: red;

        }

    }

}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{

    border-radius: 0px !important;

}