@import 'Variables';

.addTaskDilogContainer{

    .addTaskDilog{

        font-family: Raleway;
        background-color: $main-body-background-color;
        color: $widget-body-font-color;

        .dialogTitle{
            padding: 8px;
            font-size: 14px;
            border-bottom: 1px solid $widget-body-font-color;
            font-weight: 500;
        }

        .dialogBody{

            padding: 8px;
            display: flex;
            flex-direction: column;

         
            p{
                font-size: 12px;
            }
        
            .newTaskInput{
                
                width: auto;
                height: 30px;
                border: 1px solid $widget-body-font-color;
                padding: 0px 5px 0px 5px;
                background-color: $widget-body-background-color;
                color: $widget-body-font-color;
            }

        }
    
    }

    .dialogAction{
        background-color: $main-body-background-color;
        
        .dialogButton{
            color: $widget-body-font-color;
            border-color: $widget-body-font-color;
            font-size: 12px;
            padding: 0px 20px 0px 20px;

        }

    }

}