@import 'Variables';

.addTaskDilogContainer{

    .addTaskDilog{

        border-top: $border-top;
        font-family: Raleway;
        background-color: $main-body-background-color;
        color: $widget-body-font-color;

        .dialogTitle{
            padding: 8px;
            font-size: 14px;
            //border-bottom: 1px solid $widget-body-font-color;
            font-weight: 500;
            box-shadow: $widget-header-box-shadow;
        }

        .dialogBody{

            padding: 8px;
            display: flex;
            flex-direction: column;

         
            p{
                font-size: 12px;
            }
        
            .newTaskInput{
                width: auto;
                height: 30px;
                border: 1px solid $widget-body-font-color;
                padding: 0px 5px 0px 5px;
                background-color: $widget-body-background-color;
                color: $widget-body-font-color;
            }

        }
    
    }

    .dialogAction{
        background-color: $main-body-background-color;
        
        .dialogButton{
            color: $button-font-color;
            border-color: $button-bg-color;
            background-color: $button-bg-color;
            font-size: 12px;
            padding: 0px 20px 0px 20px;

        }

    }

}