@import 'Variables';

.dashboardContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    &.light{

        .lProgress{
            background-color: $loading-bar-bg-color-light;
        }
    
        .dashboardHeader {
            background-color: $main-header-background-color-light;
            border-top: $border-top-light;

            .topBar{
    
                .appName{
    
                    p{
                        color: $main-header-font-color-light;
                    }
    
                    .logo{
                        color: $main-header-font-color-light;
                    }
    
                }
    
                .loggedUser{
    
                    p{
                        color: $main-header-font-color-light;
                    }
    
                    .menuIcon{
                        color: $main-header-font-color-light;
                    }
    
                }
    
            }        
    
        }
    
        .dashboardBody{
            background-color: $main-body-background-color-light;
    
        }

    }

    &.dark{

        .lProgress {
            background-color: $loading-bar-bg-color-dark;
        }
    
        .dashboardHeader {
            background-color: $main-header-background-color-dark;
            border-top: $border-top-dark;

            .topBar{
    
                .appName{
    
                    p{
                        color: $main-header-font-color-dark;
                    }
    
                    .logo{
                        color: $main-header-font-color-dark;
                    }
    
                }
    
                .loggedUser{
    
                    p{
                        color: $main-header-font-color-dark;
                    }
    
                    .menuIcon{
                        color: $main-header-font-color-dark;
                    }
    
                }
    
            }        
    
        }
    
        .dashboardBody{
            background-color: $main-body-background-color-dark;
    
        }

    }

    .lProgress {
        width: 100%;
        position: absolute;
        top: 0;
        height: 4px;
        z-index: 2;
    }

    .dashboardHeader {
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        padding: 1px 0 1px 0;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        z-index: 0;
        .topBar{
            width: 90vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .appName{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: center;

                .logo{
                    z-index: 2;
                    width: 30px;
                    height: 30px;
                }

            }

            .loggedUser{

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 5px;

                p{
                    font-size: 14px;
                }

                .menuIcon{
                    font-size: 14px;
                    cursor: pointer;
                }

                .avatar{
                    width: 30px;
                    height: 30px;
                }

            }

        }        

    }

    .dashboardBody{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: inherit;
        padding-top: 10px;

        .widgetRow{

            display: flex;
            flex-direction: row;
            gap: 20px;

        }

    }

}

.MenuItemIcon{
    font-size: 15px !important;
}