@import 'Variables';

.filterDilogContainer {

    &.light {

        .filterDilog {

            border-top: $border-top-light;
            background-color: $main-body-background-color-light;
            color: $widget-body-font-color-light;

            .dialogTitle {
                box-shadow: $widget-header-box-shadow-light;
            }

            .dialogBody {

                .date{

                    .select{
                        border: 1px solid black;
                    }

                }

                .input {
                    border: 1px solid $widget-body-font-color-light;
                    color: $widget-body-font-color-light;
                }

                .select {
                    //border: 1px solid $widget-body-font-color-light;
                    color: $widget-body-font-color-light;
                }
            }

        }

        .dialogAction {
            background-color: $main-body-background-color-light;

            .dialogButton {
                color: $button-font-color-light;
                border-color: $button-bg-color-light;
                background-color: $button-bg-color-light;

            }
        }

    }

    &.dark {

        .filterDilog {

            border-top: $border-top-dark;
            background-color: $main-body-background-color-dark;
            color: $widget-body-font-color-dark;

            .dialogTitle {
                box-shadow: $widget-header-box-shadow-dark;
            }

            .dialogBody {

                .input {
                    border: 1px solid $widget-body-font-color-dark;
                    color: $widget-body-font-color-dark;
                }

                .select {
                    border: 1px solid $widget-body-font-color-dark;
                    color: $widget-body-font-color-dark;
                }
            }

        }

        .dialogAction {
            background-color: $main-body-background-color-dark;

            .dialogButton {
                color: $button-font-color-dark;
                border-color: $button-bg-color-dark;
                background-color: $button-bg-color-dark;

            }
        }

    }

    .filterDilog {

        font-family: Raleway;

        .dialogTitle {
            padding: 8px;
            font-size: 14px;
            font-weight: 500;
        }

        .dialogBody {

            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            p {
                font-size: 12px;
            }

            .date{
                display: flex;
                flex-direction: row;
                gap: 10px;

                .select {
                    //padding: 7px;
                    padding: 0px 1px 0px 1px;
                    height: 30px;
                    background-color: transparent;
                    width: 20%;
                }
    
                .select option {
                    background-color: #fff;
                    color: #333;
                    font-size: 14px;
    
                    &:hover {
                        background-color: grey;
                    }
    
                }
    
                .select option:checked {
                    background-color: #007bff;
                    color: #fff;
    
                }

                .input {
                    //padding: 7px;
                    padding: 0px 5px 0px 5px;
                    height: 29px;
                    background-color: transparent;
                    width: 80%;
                }
    
                .input[type="date"]::-webkit-calendar-picker-indicator {
    
                    background-color: #ffffff;
                    color: #ffffff;
                    padding: 4px;
                    border-radius: 4px;
                    cursor: pointer;
                }

            }

            .select {
                padding: 0px 1px 0px 1px;
                height: 30px;
                background-color: transparent;
            }

        }

    }

    .dialogAction {

        .dialogButton {
            font-size: 12px;
            padding: 0px 20px 0px 20px;

        }
    }

}