@import 'Variables';

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-body-font-color;
    width: 100vw;
    height: 100vh;
    gap: 30px;
    background-color: $main-body-background-color;

    .lProgress{
        width: 100%;
        position: absolute;
        top: 0;
    }

    .logindiv {

        border: 1px solid $widget-border-color;
        //padding: 30px;
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-bottom: 30px;
        background-color: $widget-body-background-color;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


        .link {

            text-decoration: none;
            color: #4493f8;
            font-size: 12px;

            &:hover {

                text-decoration: underline;

            }

        }

        .headerContainer {

            width: 100%;
            //border-bottom: 1px solid $widget-border-color;
            text-align: center;
            background-color: $widget-header-background-color;

        }

        .loginBox {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 300px;
            margin-top: 10px;

            // background-color: #161B22;
            // padding: 10px 30px 10px 30px;

            .elabel {
                width: 100%;
                text-align: left;
                font-size: 14px;
            }

            .paswdLableContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                font-size: 14px;
                margin-top: 10px;

                .plabel {
                    text-align: left;
                    font-size: 14px;
                }

            }

            input {
                width: 96%;
                height: 20px;
                background-color: black;
                padding: 5px;
                color: $main-body-font-color;
                border: 1px solid rgba(255, 255, 255, 0.415);
                font-family: Raleway;
            }

            Button {
                border: 1px solid $main-body-font-color;
                font-size: 12px;
                color: $main-body-font-color;
                height: 20px;
                padding: 15px;
                margin-top: 10px;
            }

        }

        .footerNote {
            font-size: 14px;
            text-align: center;
        }

    }

}