.progress-bar-container {
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;

    .progress-bar {
        min-height: 10px;
        height: auto;
        text-align: center;
        line-height: 10px;
        position: relative;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }

    .completed {
        background-color: #9ADF5A;
    }

    .in-progress {
        background-color: #DBEF5A;
    }
}
