@import 'Variables';

.TQC {
    width: 100vw;

    &.light {

        .taskQueueWgt {
            background-color: $widget-body-background-color-light;

            .widget-header {
                color: $widget-header-font-color-light;
                border-top: $border-top-light;
                box-shadow: $widget-box-shadow-light;
                background-color: $widget-header-background-color-light;

                word-spacing: 4px;

                .buttons {

                    .addButton {
                        background-color: $button-bg-color-light;
                        color: $button-font-color-light;
                        border-color: $button-bg-color-light;
                    }

                    .clearButton {
                        background-color: $button-bg-color-light;
                        color: $button-font-color-light;
                        border-color: $button-bg-color-light;

                    }

                }

            }

            .widget-body {
                .grid {
                    color: $widget-body-font-color-light;

                    .selected-row {
                        background-color: $Task-Queue-Widget-Selected-Row-Background-Color-light;

                        &:hover {
                            background-color: $Task-Queue-Widget-Selected-Row-Hover-Background-Color-light;
                        }
                    }

                    .grid-row {
                        border-bottom: 1px solid $widget-border-color-light;

                        &.expanded-row {
                            background-color: $Task-Queue-Widget-Row-Background-Color-light;
                        }

                        &:hover {
                            background-color: $Task-Queue-Widget-Row-Hover-Background-Color-light;
                        }

                        .grid-cell {

                            .status-dropdown {
                                color: $widget-body-font-color-light;
                            }

                            .status-dropdown option {
                                background-color: $widget-header-background-color-light;
                                color: $widget-header-font-color-light;
                            }

                        }

                    }

                }

                .accordion-content {

                    .accordion-item {

                        .headerContent {

                            .commentLogs{
                                a{
                                    text-decoration: none;
                                    color: $link-color-light;

                                    &:hover{
                                        text-decoration: underline;
                                    }

                                }
                            }

                            .buttons {

                                .addCommentButton {
                                    color: $button-font-color-light;
                                    border-color: $button-bg-color-light;
                                    background-color: $button-bg-color-light;
                                }

                            }

                        }

                    }

                }
            }
        }

    }

    &.dark {

        .taskQueueWgt {
            background-color: $widget-body-background-color-dark;

            .widget-header {
                color: $widget-header-font-color-dark;
                border-top: $border-top-dark;
                box-shadow: $widget-box-shadow-dark;
                background-color: $widget-header-background-color-dark;

                .buttons {

                    .addButton {
                        background-color: $button-bg-color-dark;
                        color: $button-font-color-dark;
                        border-color: $button-bg-color-dark;
                    }

                    .clearButton {
                        background-color: $button-bg-color-dark;
                        color: $button-font-color-dark;
                        border-color: $button-bg-color-dark;

                    }

                }

            }

            .widget-body {
                .grid {
                    color: $widget-body-font-color-dark;

                    .selected-row {
                        background-color: $Task-Queue-Widget-Selected-Row-Background-Color-dark;

                        &:hover {
                            background-color: $Task-Queue-Widget-Selected-Row-Hover-Background-Color-dark;
                        }
                    }

                    .grid-row {
                        border-bottom: 1px solid $widget-border-color-dark;

                        &.expanded-row {
                            background-color: $Task-Queue-Widget-Row-Background-Color-dark;
                        }

                        &:hover {
                            background-color: $Task-Queue-Widget-Row-Hover-Background-Color-dark;
                        }

                        .grid-cell {

                            .status-dropdown {
                                color: $widget-body-font-color-dark;
                            }

                            .status-dropdown option {
                                background-color: $widget-header-background-color-dark;
                                color: $widget-header-font-color-dark;
                            }

                        }

                    }

                }

                .accordion-content {

                    .accordion-item {

                        .headerContent {

                            .commentLogs{
                                a{
                                    text-decoration: none;
                                    color: $link-color-dark;

                                    &:hover{
                                        text-decoration: underline;
                                    }

                                }
                            }

                            .buttons {

                                .addCommentButton {
                                    color: $button-font-color-dark;
                                    border-color: $button-bg-color-dark;
                                    background-color: $button-bg-color-dark;
                                }

                            }

                        }

                    }

                }
            }
        }

    }

    .taskQueueWgt {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        //width: 99%;
        height: 300px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }

        .widget-header {
            padding: 10px;
            font-size: x-small;
            font-weight: 500;
            height: 10px;
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            z-index: 3;

            .buttons {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;

                .icon {
                    font-size: 18px;
                    cursor: pointer;
                }

                .addButton {

                    font-size: 10px;
                    padding: 0px;
                }

                .clearButton {

                    font-size: 10px;
                    padding: 0px 20px 0px 20px;

                }

            }

        }

        .widget-body {
            .grid {
                border-collapse: collapse;
                font-size: 12px;
                table-layout: fixed;
                width: 100%;
            }

            .checkbox{
                margin: 10px 0px;
            }
            

            .commentsIcon {
                font-size: 18px;
            }

            .grid-row {
                display: table-row;
                cursor: pointer;

                .ToDo {
                    background-color: #E5524B;
                    min-width: 2px;
                    min-height: 12px;
                }

                .InProgress {
                    background-color: #DBEF5A;
                    min-width: 2px;
                    min-height: 12px;
                }

                .Completed {
                    background-color: #9ADF5A;
                    min-width: 2px;
                    min-height: 12px;
                }

                &:hover {

                    .editIcon {
                        visibility: visible !important;
                    }

                }

                #td-colorcode{
                    //background-color: aqua;
                    width: 5px;
                }

                #td-status{
                    //background-color: rgb(151, 255, 125);
                    width: 100px;
                }

                // #td-comments{
                //     background-color: rgb(211, 181, 255);
                // }

                #td-checkbox{
                    //background-color: rgb(255, 166, 115);
                    width: 10px;
                }

                #td-priority{
                    //background-color: burlywood;
                    width: 70px;
                }

                #td-task{
                    //background-color: rgb(255, 128, 128);
                }

                .grid-cell {
                    display: table-cell;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 5px;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    line-height: 20px;

                    .status-dropdown {
                        border: none;
                        font-family: Raleway;
                        font-size: 12px;
                        border-radius: 0px;
                        cursor: pointer;
                        background-color: transparent;
                    }

                    .status-dropdown option:checked {
                        background-color: #767676;
                        color: white;
                    }

                    .editIcon {
                        font-size: 12px;
                        margin-left: 10px;
                        visibility: hidden;
                    }

                }

            }

        }

        .accordion-content {
            display: table-row;
            background-color: rgba(128, 128, 128, 0.097);

            .accordion-item {
                display: table-cell;
                padding: 10px;
                display: flex;
                flex-direction: column;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                gap: 10px;

                .headerContent {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .commentLogs {
                        display: flex;
                        flex-direction: row;
                        gap: 30px;

                    }

                    .buttons {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;

                        .addCommentButton {
                            font-size: 10px;
                            padding: 0 10px 0 10px;
                            z-index: 0;
                        }

                    }

                }

                .comment {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: left;
                    width: 100%;

                    p {

                        white-space: wrap;
                        word-wrap: break-word;
                        line-height: 20px;
                        width: 100%;
                        margin: 0px;

                    }

                }

            }

        }
    }
}