@import 'Variables';

.TeamOverviewWgt {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    //width: 30%;
    height: 300px;
    overflow-y: scroll;

    &.light{
        border: 1px solid $widget-border-color-light;
        background-color: $widget-body-background-color-light;

        .widget-header {
            color: $widget-header-font-color-light;
            border-top: $border-top-light;
            box-shadow: $widget-box-shadow-light;
            background-color: $widget-header-background-color-light;

            .addButton {
                background-color: $button-bg-color-light;
                color: $button-font-color-light;
                border-color: $button-bg-color-light;
            }

        }
    
        .widget-body {
    
            .grid {
                color: $widget-body-font-color-light;
            }
    
        }
    }

    &.dark{
        border: 1px solid $widget-border-color-dark;
        background-color: $widget-body-background-color-dark;

        .widget-header {
            color: $widget-header-font-color-dark;
            border-top: $border-top-dark;
            box-shadow: $widget-box-shadow-dark;
            background-color: $widget-header-background-color-dark;

            .addButton {
                background-color: $button-bg-color-dark;
                color: $button-font-color-dark;
                border-color: $button-bg-color-dark;
            }

        }
    
        .widget-body {
    
            .grid {
                color: $widget-body-font-color-dark;
            }
    
        }
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    .widget-header {
        padding: 10px;
        font-size: x-small;
        font-weight: 500;
        height: 10px;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 3;

        word-spacing: 4px;

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            .icon {
                font-size: 18px;
                cursor: pointer;
            }

            .addButton {
                font-size: 10px;
                padding: 0px 20px 0px 20px;
            }

        }

    }

    .widget-body {

        width: 100%;
        height: 100%;

        .grid {
            border-collapse: collapse;
            font-size: 12px;
            table-layout: fixed;
            width: 100%;

            .grid-row {
                display: table-row;

                .grid-cell {
                    display: table-cell;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 10px;
                }

                #td-team {
                    width: 60px;
                }

                #td-progressbar {}

                #td-percentage {
                    width: 32px;
                }

                #td-overview {
                    width: 230px;
                    text-align: right;
                }

            }
        }

    }
}