// $main-header-background-color: white;
// $main-header-font-color: black;

// $main-body-background-color: #FFF6E8;
// $main-body-font-color: black;

// $widget-header-background-color: white;
// $widget-header-font-color: black;

// $widget-body-background-color: white;
// $widget-body-font-color: black;

// $Task-Queue-Widget-Selected-Row-Background-Color: rgba(0, 0, 0, 0.203);
// $Task-Queue-Widget-Selected-Row-Hover-Background-Color:rgba(0, 0, 0, 0.203) !important;

// $Task-Queue-Widget-Row-Background-Color: rgba(128, 128, 128, 0.097);
// $Task-Queue-Widget-Row-Hover-Background-Color: rgba(128, 128, 128, 0.097);

// $widget-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

// $widget-header-bottom-border: rgba(1, 1, 1, 0.2);

// $widget-header-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

// $widget-border-color: rgba(0, 0, 0, 0.101);

$main-header-background-color: #010409;
$main-header-font-color: white;

$main-body-background-color: #171717;
//#0d1117
$main-body-font-color: white;

$widget-header-background-color: #161b22;
$widget-header-font-color: white;

$widget-body-background-color: black;
$widget-body-font-color: white;

$Task-Queue-Widget-Selected-Row-Background-Color: rgba(106, 106, 106, 0.367);
$Task-Queue-Widget-Selected-Row-Hover-Background-Color:rgba(106, 106, 106, 0.367) !important;

$Task-Queue-Widget-Row-Background-Color: rgba(128, 128, 128, 0.097);
$Task-Queue-Widget-Row-Hover-Background-Color: rgba(128, 128, 128, 0.097);

$widget-box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.24) 0px 1px 2px;

$widget-header-bottom-border: rgba(255, 255, 255, 0.2);

$widget-header-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px, rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;

$widget-border-color: rgba(255, 255, 255, 0.101);