$main-header-background-color-light: white;

$main-header-font-color-light: black;

$main-body-background-color-light: rgb(254, 254, 254);

$main-body-font-color-light: black;

$border-top-light: 4px solid rgb(42, 145, 235);

$widget-header-background-color-light: white;

$widget-header-font-color-light: black;

$widget-body-background-color-light: white;

$widget-body-font-color-light: black;

$Task-Queue-Widget-Selected-Row-Background-Color-light: rgba(0, 0, 0, 0.203);

$Task-Queue-Widget-Selected-Row-Hover-Background-Color-light:rgba(0, 0, 0, 0.203) !important;

$Task-Queue-Widget-Row-Background-Color-light: rgba(128, 128, 128, 0.097);

$Task-Queue-Widget-Row-Hover-Background-Color-light: rgba(128, 128, 128, 0.097);

$widget-box-shadow-light: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

$widget-header-bottom-border-light: rgba(1, 1, 1, 0.2);

$widget-header-box-shadow-light: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

$widget-border-color-light: rgba(0, 0, 0, 0.101);

$button-bg-color-light: #2a91eb;

$loading-bar-bg-color-light: #b5d4ef;

$button-font-color-light: #ffffff;

$button-font-color-dark: white;

$button-bg-color-dark: #5a4c8d;

$loading-bar-bg-color-dark: #b4acce;

$main-header-background-color-dark: #010409;

$main-header-font-color-dark: white;

$border-top-dark: 4px solid #5a4c8d;

$main-body-background-color-dark: #171717;

$main-body-font-color-dark: white;

$widget-header-background-color-dark: #161b22;

$widget-header-font-color-dark: white;

$widget-body-background-color-dark: black;

$widget-body-font-color-dark: white;

$Task-Queue-Widget-Selected-Row-Background-Color-dark: rgba(106, 106, 106, 0.367);

$Task-Queue-Widget-Selected-Row-Hover-Background-Color-dark:rgba(106, 106, 106, 0.367) !important;

$Task-Queue-Widget-Row-Background-Color-dark: rgba(128, 128, 128, 0.097);

$Task-Queue-Widget-Row-Hover-Background-Color-dark: rgba(128, 128, 128, 0.097);

$widget-box-shadow-dark: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.24) 0px 1px 2px;

$widget-header-bottom-border-dark: rgba(255, 255, 255, 0.2);

$widget-header-box-shadow-dark: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px, rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;

$widget-border-color-dark: rgba(255, 255, 255, 0.101);