@import 'Variables';

.WeakBreakdownWgt {
    //box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid $widget-border-color;
    background-color: $widget-body-background-color;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 40%;
    height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    .wb-widget-header {
        color: $widget-header-font-color;
        padding: 10px;
        font-size: x-small;
        font-weight: 500;
        border-top: $border-top;
        //border-bottom: 1px solid rgba(1, 1, 1, 0.2);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        height: 10px;
        position: sticky;
        top: 0;
        background-color: $widget-header-background-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 3;

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            .icon {
                font-size: 18px;
                cursor: pointer;
            }
        }
    }

    .wb-widget-body {
        width: 100%;
        height: 100%;

        .wb-grid {
            border-collapse: collapse;
            font-size: 12px;
            table-layout: fixed;
            width: 100%;
            //height: 100%;
            color: $widget-body-font-color;

            .wb-grid-row {
                display: table-row;

                .wb-grid-cell {
                    display: table-cell;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 10px;
                    //border: 1px solid $widget-border-color;
                }

                #td-day{
                    width: 30px;
                }

                #td-date{
                    width: 70px;
                }

                #td-progressbar{
                    
                }

                #td-percentage{
                    width: 30px;
                }

                #td-status{
                    width: 220px;
                }
                
            }
        }
    }
}
